.btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 50px;
  border: none;
  padding: 19px 10px;
  border-radius: 4px;
  background-color: $btn-back;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $btn-color;
  letter-spacing: 1px;
  @include main-font3();
  @include transition(background, .3, 0);

  &:hover {
    background-color: $btn-back-hover;
  }

  &:active {
    color: $btn-color;
    background-color: $btn-back-hover;
  }

  &_search {
    padding: 0 33px 0 58px;

    &:after {
      width: 15px;
      height: 16px;
      left: 27px;
      @include absoluteCenterY();
      background: url(../img/search-icon_2.png) no-repeat;
      background-size: contain;
      content: '';
    }
  }

  &_send {
    padding: 18px 28px 0 80px;
    background-color: $btn3-back;

    &:after {
      width: 33px;
      height: 20px;
      padding: 0;
      left: 29px;
      background: url(../img/mail-icon_white.png) no-repeat;
      background-size: contain;
      color: $btn3-color;
      @include absoluteCenterY();
      content: '';
    }
    &:hover {
      background-color: $btn3-back-hover;
    }
  }

  &_2 {
    padding: 19px 10px;
    height: 50px;
    background-color: $btn2-back;
    color: $btn2-color;
    width: 277px;
    text-align: center;

    &:hover {
      background-color: $btn2-back-hover;
    }
  }

  &_3 {
    width: 195px;
    padding: 17px 17px 17px 43px;
    height: 50px;
    background-image: url("../img/search-icon_3.png");
    background-color: $btn3-back;
    background-repeat: no-repeat;
    background-position: 28px center;
    background-size: 15px;
    color: $btn3-color;
    text-align: center;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);

    &:hover {
      background-color: $btn3-back-hover;
    }
  }

  &_4 {
    padding: 50px 17px 10px 17px;
    width: 160px;
    height: 80px;
    background-image: url("../img/send-icon.png");
    background-color: #c75d5d;
    background-repeat: no-repeat;
    background-position: center 6px;
    background-size: 34px 30px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 18px;

    &:hover {
      background-color: $btn3-back-hover;
    }
  }
}

@media (min-width: $tablet-landscape) {
  .btn {

    &_2 {
      padding: 24px 10px;
      height: 60px;
    }

    &_3 {
      padding: 24px 17px 24px 43px;
      height: 70px;
    }

    &_4 {
      padding: 63px 10px 10px;
      height: 117px;
      background-position: center 28px;

    }
  }
}
