//site
$site-background: #fff;
$site-title-color: #fff;
$header-background: #fff;
$header-contact-back: #2b2b2b;
$header-contact-color: #fff;
$header-contact-hover: #404040;
$header-menu-back: #323133;
$header-menu-color: #fff;
$header-menu-desktop-color1: #393939;
$header-menu-desktop-color2: #b2b2b2;
$header-menu-desktop-color2-hover: #2b2b2b;
$header-menu-desktop-back: #f7f8fa;
$header-menu-line: #d7d7d9;
$header-menu-line-hover: #c75d5d;
$header-menu-btn-back: #000;
$header-menu-btn-opened: #fff;
$footer-content-color: #b4b4b4;
$footer-color: #bbbbbb;
$footer-color1: #fff;
$footer-description-color: #a3a3a3;
$footer-background-color1: #323133;
$footer-background-color2: #252526;
$footer-title-color: #ffffff;

/*---------- searh-panel ----------*/
$searh-panel-back: #1c1c1c;
$searh-panel-label-color: #8d8d8d;
$searh-panel-input-color: #e2e2e2;
/*---------- /searh-panel ---------*/

/*---------- popup ----------*/
$popup-back: rgba( 0, 0, 0, .5 );
$popup-close-back: rgba( 255, 255, 255, 1 );
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #000;
$websters-select-popup-back: #fff;
$websters-select-popup-item-active-color: #fff;
$websters-select-popup-item-active-back: #f00;
/*---------- /websters-select ---------*/

/*---------- nice-radio ----------*/
$nice-radio-after-color: #000;
$nice-radio-color: #000;
/*---------- /nice-radio ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #000;
$nice-checkbox-color: #000;
/*---------- /nice-checkbox ---------*/

/*---------- btn ----------*/
$btn-back: #2d2d2d;
$btn-back-hover: #434242;
$btn-color: #fff;
/*---------- /btn ---------*/

/*---------- content-menu ---------*/
$content-menu-color: #000;
$content-menu-hover-color: #fff;
$content-layout-back: rgba(255,255,255,0.9);
$content-item-back: #fff;
$content-item-hover-back: #000;
$content-btn-back: #000;
$content-btn-border-color: rgba(255,255,255,0.5);
$content-btn-hover-back: rgba(0,0,0,0.7);
$content-btn-gamburger-back: #fff;
/*---------- /content-menu ---------*/
