//site
$site-background: #fff;
$site-content-background: #f7f8fa;
$site-title-color1: #fff;
$site-title-color2: #c75d5d;
$site-title-color3: #5c5c5c;
$site-title-color4: #000;
$site-title-color5: #fff;
$site-subtitle-color1: #000;
$site-link-back-color: #c75d5d;
$header-background: #fff;
$header-contact-back: #2b2b2b;
$header-contact-color: #fff;
$header-contact-hover: #404040;
$header-menu-back: #323133;
$header-menu-color: #fff;
$header-menu-desktop-color1: #393939;
$header-menu-desktop-color2: #b2b2b2;
$header-menu-desktop-color2-hover: #2b2b2b;
$header-menu-desktop-back: #f7f8fa;
$header-menu-line: #d7d7d9;
$header-menu-line-hover: #c75d5d;
$header-menu-btn-back: #000;
$header-menu-btn-opened: #fff;
$footer-content-color: #b4b4b4;
$footer-color: #bbbbbb;
$footer-color1: #fff;
$footer-description-color: #a3a3a3;
$footer-background-color1: #323133;
$footer-background-color2: #252526;
$footer-title-color: #ffffff;

/*---------- searh-panel ----------*/
$searh-panel-back: #1c1c1c;
$searh-panel-label-color: #8d8d8d;
$searh-panel-input-color: #e2e2e2;
/*---------- /searh-panel ---------*/

/*---------- popup ----------*/
$popup-back: rgba( 0, 0, 0, .9 );
$popup-close-back: rgba( 255, 255, 255, 1 );
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #dadada;
$websters-select-back: #f5f6fa;
$websters-select-item-color: #c75d5d;
$websters-select-popup-item-active-color: #fff;
//$websters-select-popup-item-active-back: #f00;
/*---------- /websters-select ---------*/

/*---------- nice-radio ----------*/
$nice-radio-after-color: #000;
$nice-radio-color: #000;
/*---------- /nice-radio ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #000;
$nice-checkbox-color: #000;
/*---------- /nice-checkbox ---------*/

/*---------- btn ----------*/
$btn-back: #2d2d2d;
$btn2-back: #fff;
$btn3-back: #c75d5d;
$btn4-back: #c75d5d;
$btn-back-hover: #434242;
$btn2-back-hover: #cdcdcd;
$btn3-back-hover: #e97d7d;
$btn4-back-hover: #e97d7d;
$btn-color: #fff;
$btn2-color: #0c0c0c;
$btn3-color: #fff;
$btn4-color: #fff;
/*---------- /btn ---------*/

/*---------- content-menu ---------*/
$content-menu-color: #000;
$content-menu-hover-color: #fff;
$content-layout-back: rgba(255,255,255,0.9);
$content-item-back: #fff;
$content-item-hover-back: #000;
$content-btn-back: #000;
$content-btn-border-color: rgba(255,255,255,0.5);
$content-btn-hover-back: rgba(0,0,0,0.7);
$content-btn-gamburger-back: #fff;
/*---------- /content-menu ---------*/

/*---------- open-day ---------*/
$open-day-back: #252526;
$open-day-time-color: #cacaca;
$open-day-proj-name-color: #fff;
/*---------- open-day ---------*/

/*---------- dropdown-item ---------*/
$dropdown-item-color: #5c5c5c;
$dropdown-item-wrap-back: #fff;
$dropdown-item-wrap-border-color: #c0c0c0;
$dropdown-item-menu-back: #fff;
$dropdown-item-menu-box-shadow: rgba(0,0,0,0.1);
$dropdown-item-menu-item-border-color: #eeeeee;
$dropdown-item-menu-item-hover-back: #b6b6b6;
$dropdown-item-menu-item-hover-color: #fff;
$dropdown-item-menu-item-active-back: #c75d5d;
$dropdown-item-menu-item-active-color: #fff;
/*---------- dropdown-item ---------*/

/*---------- research-panel ---------*/
$research-panel-input-back: #fff;
$research-panel-input-box-shadow: rgba(0,0,0,0.2);
$research-panel-type-border-color: #e7e7e7;
$research-panel-type-color: #bdbdbd;
$research-panel-type-active-color: #c75d5d;
$research-panel-type-active-color: #c75d5d;
$research-panel-search-back: #fff;
$research-panel-search-color: #1f1f1f;
/*---------- research-panel ---------*/

/*---------- language ---------*/
$language-color: #1d1d1d;
$language-hover: #6d6d6d;
/*---------- language ---------*/

/*---------- interested-you ---------*/
$interested-you-back: #202020;
$interested-you-color: #dcdcdc;
$interested-you-link-color: #f1675e;
$interested-you-field-border-color: #bdbdbd;
$interested-you-field-color: #cccccc;
/*---------- /interested-you ---------*/

/*---------- closer-objects ---------*/
$closer-objects-content-color1: #7a7a7a;
$closer-objects-tabs-btn-color1: #000;
$closer-objects-tabs-btn-active-color1: #c75d5d;
/*---------- /closer-objects ---------*/

/*---------- apartment ---------*/
$apartment-location-color: #454545;
$apartment-ref-color: #454545;
$apartment-controls-links-color: #8c8c8c;
$apartment-info-color: #fff;
$apartment-info-back: #fff;
$apartment-text-color: #4d4d4d;
$apartment-specifications-back: #fff;
$apartment-specifications-border-color: #a7a7a7;
$apartment-num-color: #454545;
$apartment-type-color: #939393;
$apartment-more-color: #c75d5d;
$apartment-more-hover-color: #fff;
$apartment-more-border-color: #a7a7a7;
$apartment-more-hover-back: #a7a7a7;
$apartment-slider-btn-border-color: #121314;
$apartment-slider-btn-back: rgba(255,255,255,0.9);
$apartment-slider-btn-hover-back: rgba(255,255,255,1);
/*---------- /apartment ---------*/

/*---------- single-gallery ---------*/
$single-gallery-slider-btn-border-color: #121314;
$single-gallery-slider-btn-back: rgba(255,255,255,0.9);
$single-gallery-slider-btn-hover-back: rgba(255,255,255,1);
/*---------- /single-gallery ---------*/

/*---------- possessions ---------*/
$possessions-wrap-color: #000000;
$possessions-wrap-box-shadow: rgba(0,0,0,0.4);
$possessions-tags-border-color: #e9e9e9;
$possessions-view-color: #c75d5d;
$card-about-text-color: #fff;
$card-about-back: rgba(199, 93, 93, .0);
$card-about-hover: rgba(199, 93, 93, .6);
/*---------- /possessions ---------*/

/*---------- tags ---------*/
$tags-icon-back: #f2f3f5;
$tags-icon-color: #8b8b8b;
/*---------- /tags ---------*/

/*---------- range-options ---------*/
$range-options-back: #fff;
$range-options-type-hover: rgba(245, 83, 83, .6);
$range-options-type-color: #fff;
$range-options-label: #2e2e2e;
$range-options-rooms-back: #fff;
$range-options-rooms-border: #ececee;
$range-options-rooms-uncheck: #f5f6fa;
$range-options-rooms-uncheck-color: #060606;
$range-options-rooms-uncheck-hover: #e5e7eb;
$range-options-rooms-check-color: #fff;
$range-options-rooms-check: #c75d5d;
$range-options-more-color: #2a2a2a;
$range-options-more-hover: #cecece;
$range-options-disappear-color: #838383;
$range-options-disappear-hover: #ababab;
/*---------- /range-options ---------*/

/*---------- search-autocomplite ---------*/
$search-autocomplite-color: #232323;
$search-autocomplite-border: #cdcdcd;
$search-autocomplite-btn: #f5f6fa;
$search-autocomplite-btn-hover: #e8e9ea;
$search-autocomplite-result-back: #f2f2f4;
$search-autocomplite-result-color: #2a2a2a;
/*---------- /search-autocomplite ---------*/

/*---------- to-send ---------*/
$to-send-color: #fff;
$to-send-line-back: #e1e2e3;
/*---------- /to-send ---------*/

/*---------- pagination ---------*/
$pagination-color: #b2b2b2;
$pagination-prev-next-color: #c75d5d;
/*---------- /pagination ---------*/
