/* --------------- language --------------- */
.language{
  position: absolute;
  z-index: 1;
  left: 142px;
  top: 13px;
  padding: 0 10px 0 23px;
  font-size: 14px;
  line-height: 14px;
  height: 20px;
  cursor: pointer;

  &:after{
    position: absolute;
    top: 6px;
    left: 0;
    width: 8px;
    height: 5px;
    background: url(../img/language-arrow.png) no-repeat;
    background-size: contain;
    content: '';
  }

  &__item {
    overflow: hidden;
    vertical-align: top;
    display: block;
    color: $language-color;
    text-overflow: ellipsis;
    padding: 2px 0;
    font-size: 16px;
    cursor: pointer;
    transition: color .3s ease;

    &:hover{
      color: $language-hover;
    }
  }

  &__dropdown {
    display: none;
    position: relative;
    top: 5px;

    .language__item {
      margin-bottom: 3px;
    }
  }
}
/* --------------- /language --------------- */

@media (min-width: $tablet-portrait) {

  /* --------------- language --------------- */
  .language{
    left: 165px;
    top: 17px;
  }
  /* --------------- /language --------------- */

}
@media (min-width: $tablet-landscape) {

  /* --------------- language --------------- */
  .language{
    left: 170px;
    top: 16px;
  }
  /* --------------- /language --------------- */

}
@media (min-width: $desktop) {

  /* --------------- language --------------- */
  .language{
    left: 207px;
    top: 62px;
  }
  /* --------------- /language --------------- */

}


