.pagination {
  margin-bottom: 54px;
  @include justify();

  &__item {
    vertical-align: top;
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    color: #b2b2b2;
    @include main-font3();
  }

  &__prev,
  &__next {
    position: relative;
    top: 3px;
    color: #c75d5d;

    &:before {
      position: absolute;
      top: 4px;
      left: 3px;
      width: 16px;
      height: 8px;
      background: url(../img/red-arrow.png) no-repeat;
      background-size: contain;
      @include transition(left, .3, 0);
      content: '';
    }
  }

  &__prev {
    padding-left: 30px;

    &:hover {

      &:before {
        left: 0;
      }
    }
  }
  &__next {
    padding-left: 0;
    padding-right: 27px;

    &:before {
      right: -2px;
      left: auto;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      @include transition(right, .3, 0);
    }

    &:hover {

      &:before {
        right: -5px;
      }
    }
  }

}

@media (min-width: $tablet-portrait) {
  .pagination {

  }
}

@media (min-width: $tablet-landscape) {

}

@media (min-width: $desktop) {
  .pagination {

  }
}
