.range-options {

  &__aside {
    padding: 52px 0 0;

    &-wrap {
      position: relative;
      margin-bottom: 59px;
      border-radius: 4px;
      box-shadow: 1px 1.732px 2px 0 rgba( 0, 0, 0, .2);
      background: $range-options-back;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__content {
    vertical-align: top;
    display: inline-block;
    margin: 0;
    padding: 52px 0 0;
    @include justify();
  }
  &__inner {
    padding-bottom: 20px;

    &-type {
      @include justify();
      margin-bottom: 21px;
      margin-right: -1px;

      fieldset {
        overflow: hidden;
        vertical-align: top;
        display: inline-block;
        position: relative;
        width: 49%;
        margin-bottom: 2%;
        height: 92px;
        border-radius: 2px;
        background-size: 150% ;
        background-position: center;

        input {
          opacity: 0;
          visibility: hidden;
        }
        input:checked + label {
          @include main-font2();

          &:after {
            background: $range-options-type-hover;
          }
          &:hover {

            &:after {
              background: $range-options-type-hover;
            }
          }
        }
        label {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          color: $range-options-type-color;
          font-size: 18px;
          line-height: 92px;
          text-align: center;
          @include transition(font-family, .3, 0);

          span {
            position: relative;
            z-index: 1;
          }

          &:after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, .5);
            @include transition(background, .3, 0);
            content: '';
          }
          &:hover {

            &:after {
              background: rgba(0, 0, 0, .7);
            }
          }
        }
      }
    }
    &-label {
      vertical-align: middle;
      display: inline-block;
      margin-bottom: 10px;
      @include main-font2();
      font-size: 18px;
      color: $range-options-label;
    }
    &-rooms {
      @include justify();
      padding: 0 15px;
      margin-bottom: 38px;

      &-inner {
        overflow: hidden;
        vertical-align: middle;
        display: inline-block;
        border-radius: 2px;
        background-color: $range-options-rooms-back;
        box-shadow: 1px 1.732px 2px 0 rgba( 0, 0, 0, .1);

        fieldset {
          float: left;
          position: relative;
          width: 64px;
          height: 43px;
          border-radius: 2px;
          border-left: 1px solid $range-options-rooms-border;

          &:first-child {
            border-left: none;
          }

          input {
            opacity: 0;
            visibility: hidden;
          }
          input:checked + label {
            color: $range-options-rooms-check-color;
            background: $range-options-rooms-check;

            &:hover {
              background: $range-options-rooms-check;
            }
          }
          label {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: $range-options-rooms-uncheck;
            color: $range-options-rooms-uncheck-color;
            font-size: 15px;
            line-height: 45px;
            text-align: center;
            transition: background .3s ease-in-out, color .3s ease-in-out;

            &:hover {
              background: $range-options-rooms-uncheck-hover;
            }
          }
        }
      }
    }
    &-budget {
      padding: 0 15px;
      margin-bottom: 70px;

      .range-options__inner-label {
        margin-bottom: 31px;
      }
    }
    &-more {
      display: inline-block;
      position: relative;
      left: 15px;
      margin-bottom: 20px;
      padding-left: 42px;
      font-size: 16px;
      color: $range-options-more-color;
      cursor: pointer;
      @include main-font3();
      @include transition(color, .3, 0);

      &:before {
        position: absolute;
        top: 4px;
        left: 1px;
        width: 27px;
        height: 7px;
        background: url(../img/btn-more_bg.png) no-repeat;
        background-size: contain;
        content: '';
      }
      &:hover {
        color: $range-options-more-hover;
      }
    }
    .btn_3 {
      display: block;
      width: 195px;
      height: 54px;
      padding: 3px 0 0 27px;
      margin: 0 auto;
    }
  }
  &__disappear-btn {
    position: absolute;
    top: -28px;
    right: 1px;
    padding: 0 22px 0 0;
    background: transparent;
    border: none;
    font-size: 15px;
    color: $range-options-disappear-color;
    @include main-font3();
    @include transition(color, .3, 0);

    &:after {
      position: absolute;
      width: 15px;
      height: 12px;
      top: 3px;
      right: 0;
      background: url(../img/disapper-btn_bg.png) no-repeat;
      background-size: contain;
      @include transition(opacity, .3, 0);
      content: '';
    }

    &:hover {
      color: $range-options-disappear-hover;

      &:after {
        opacity: .8;
      }
    }
  }

  &__cards {
    margin-bottom: 10px;
    @include justify();

    &-item {
      display: block;
      text-align: center;
    }
    .card {
      max-width: 290px;
      padding-bottom: 0;
      margin-bottom: 37px;

      &__pic {
        overflow: hidden;
        position: relative;
        height: 239px;

        img {
          height: 100%;
        }
      }

      &__about {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 40px 0 0 0;
        background: $card-about-back;
        @include transition(background, .3, 0);

        &:hover {
          background: $card-about-hover;

          .card__about-text {
            visibility: visible;
            opacity: 1;
          }
        }

        &-text {
          visibility: hidden;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 103px;
          left: 0;
          padding: 28px 25px 0;
          -webkit-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
          transition: opacity .3s ease-in-out, visibility .3s ease-in-out;

          p {
            font-size: 15px;
            line-height: 22px;
            color: $card-about-text-color;
          }
        }
      }

      &__info {
        padding: 31px 23px 18px 23px;

        &-main {
          width: 40%;
        }
        &-secondary {
          width: 58%;
        }
      }
    }

    .tags {
      position: absolute;
      bottom: 1px;
      padding: 0 25px 0;
    }
  }
}

@media (min-width: $tablet-portrait) {
  .range-options {

    &__inner {
      padding: 0 0 140px 0;

      &-type {

        fieldset {
          width: 49.5%;
          margin-bottom: 1%;
          height: 130px;

          label {
            line-height: 130px;
          }
        }
      }
      &-label {
        margin-bottom: 0;
      }
      &-rooms {
        padding: 0 31px 0 36px;
      }
      &-budget {
        padding: 0 36px 0 36px;
      }
      &-more {
        position: absolute;
        left: 38px;
        bottom: 0;
      }
      .btn_3 {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    &__cards {

      &-item {
        vertical-align: top;
        display: inline-block;
        width: 47.4%;
        text-align: center;
      }
      .card {
        max-width: 310px;
      }
    }
  }
}

@media (min-width: $tablet-landscape) {
  .range-options {
    margin-bottom: 140px;

    &__aside {
      vertical-align: top;
      display: inline-block;
      width: 35%;
      margin-right: 3%;
    }
    &__content {
      padding: 52px 0 0;
      width: 60%;
    }
    &__inner {
      padding-bottom: 20px;

      &-type {

        fieldset {
          width: 49%;
          margin-bottom: 2%;
          height: 92px;

          label {
            line-height: 92px;
          }
        }
      }
      &-label {
        margin-bottom: 10px;
      }
      &-rooms {
        padding: 0 15px;
      }
      &-budget {
        padding: 0 15px;
        margin-bottom: 70px;

        .range-options__inner-label {
          margin-bottom: 31px;
        }
      }
      &-more {
        position: relative;
        left: 15px;
        bottom: 0;
      }
      .btn_3 {
        position: relative;
        margin: 0 auto;
      }
    }
  }
}

@media (min-width: $desktop) {
  .range-options {

    &__aside {
      width: 455px;
      margin-right: 28px;
    }
    &__content {
      width: 652px;
    }
    &__inner {
      padding: 0 0 140px 0;

      &-type {

        fieldset {
          width: 49.5%;
          margin-bottom: 1%;
        }
      }
      &-label {
        margin-bottom: 0;
      }
      &-rooms {
        padding: 0 31px 0 36px;
      }
      &-budget {
        padding: 0 36px 0 36px;
      }
      &-more {
        position: absolute;
        left: 38px;
      }
      .btn_3 {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
    &__cards {

      &-item {
        text-align: left;
      }
    }
  }
}
