.search-autocomplite {
  padding: 0 15px;
  margin-bottom: 20px;

  &__inner {
    position: relative;
    width: 100%;
    height: 50px;
    border: 2px solid $search-autocomplite-border;
    border-radius: 3px;
    padding: 0 51px 0 54px;
    margin-bottom: 16px;

    label {
      position: absolute;
      width: 54px;
      top: 0;
      bottom: 0;
      left: 0;
      text-indent: -10000px;

      &:before {
        @include absoluteCenter();
        width: 16px;
        height: 16px;
        background: url(../img/search-icon_2.png) no-repeat;
        background-size: contain;
        content: '';
      }
    }
    input {
      border: none;
      height: 46px;
      width: 100%;
      @include main-font3();
      color: $search-autocomplite-color;
      font-size: 15px;
    }
  }
  &__list-btn {
    position: absolute;
    width: 51px;
    height: 100%;
    top: 0;
    right: 0;
    border: none;
    padding: 0;
    background: $search-autocomplite-btn;
    @include transition(background, .3, 0);

    &:before {
      @include absoluteCenter();
      left: 54%;
      width: 24px;
      height: 16px;
      background: url(../img/list_icon.png) no-repeat;
      background-size: contain;
      content: '';
    }
    &:hover {
      background: $search-autocomplite-btn-hover;
    }
  }
  &__result {

    div {
      display: inline-block;
      padding: 6px 18px 5px 22px;
      margin-right: 10px;
      border-radius: 20px;
      background: $search-autocomplite-result-back;
      @include main-font3();
      font-size: 15px;
      color:$search-autocomplite-result-color;

      &:last-child {
        margin-right: 0;
      }
    }
    &-close {
      vertical-align: top;
      display: inline-block;
      position: relative;
      top: 2px;
      width: 9px;
      height: 9px;
      margin-left: 12px;
      background: url(../img/close-icon.png) no-repeat;
      background-size: contain;
      @include transition(transform, .3, 0);
      cursor: pointer;

      &:hover {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
  }

  .search-autocomplite__list {
    display: none;
  }

}

.search-autocomplite__list {
  position: fixed;
  z-index: 3;
  display: block;
  overflow: hidden;
  max-height: 188px;
  height: auto;
  opacity: 1;
  @include main-font3();
  transition: opacity 300ms ease-in-out;
  border: 2px solid #cdcdcd;
  border-radius: 3px;
  background: #fff;

  &_hidden{
    opacity: 0;
    height: 0;
  }

  li {
    height: 46px;
    border-top: 2px solid #cdcdcd;
    line-height: 46px;
    padding: 0 20px;
    transition: background 300ms ease-in-out;

    &.hover {
      background: #e8e9ea;
    }

    &.filtered {
      display: none;
    }

    &.hidden {
      display: none;
    }
  }

}

@media (min-width: $tablet-portrait) {

  .search-autocomplite {
    padding: 0 36px 0 36px;
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-landscape) {

  .search-autocomplite {
    padding: 0 15px;
    margin-bottom: 20px;
  }

}

@media (min-width: $desktop) {
  .search-autocomplite {
    padding: 0 36px 0 36px;
    margin-bottom: 0;
  }
}
