.site {
  overflow: hidden;
  position: relative;
  z-index: 1;
  min-width: 320px;
  min-height: 100%;
  @include main-font1();

  &__header {
    position: relative;
    z-index: 4;
    width: 100%;
    height: 156px;
    background: $header-background;

    &-layout {
      position: relative;
      max-width: 1200px;
      padding: 0 15px;
      margin: 0 auto;
    }
  }

  &__menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px 0 0;
    background: grey;
    font-size: 18px;
    line-height: 1;
    @include main-font3();

    &-item {
      display: block;
      position: relative;
      padding: 20px 0;
      margin: 0 auto;
      text-align: center;

      a {
        color: #000;

        &.active {
          cursor: default;
          @include main-font2();

          &:after {
            display: none;
          }
        }
      }
    }
  }

  &__menu-btn {
    display: block;
    position: absolute;
    z-index: 4;
    top: 16px;
    left: 2px;
    width: 50px;
    height: 25px;
    padding: 0;
    background: none;
    border: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      top: 50%;
      left: 10px;
      right: 10px;
      height: 3px;
      margin-top: -2px;
      background: #000;
      font-size: 0;
      //@include transition( background-color, 0.3, 0 );

      &:before,
      &:after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        content: '';
        -webkit-transition: -webkit-transform 0.3s, background .3s;
        transition: transform 0.3s, background .3s;
      }
      &:before {
        //@include transform-translate( 0, -10px );
      }
      &:after {
        //@include transform-translate( 0, 10px );
      }
    }
    &.opened {

      span {
        background-color: transparent;

        &:before {
          -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
        }

        &:after {
          -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
        }
      }
    }
  }

  &__footer {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    left: 0;
    height: 382px;
    @include main-font1();
    background-color: $footer-background-color1;
    color: $footer-color;
  }

  &__footer-layout {
    position: relative;
    z-index: 1;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__footer-top {
    padding: 10px 0 0;
  }

  &__footer-bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 93px;
    padding: 0 0 4px;
    background: $footer-background-color2;
  }

  &__footer-description {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    font-size: 12px;
    line-height: 18px;
    color: $footer-description-color;
  }

  &__footer-crafted {
    display: inline-block;
    vertical-align: top;
    width: 39.5%;
    padding: 9px 0 0;
    text-align: right;
    font-size: 14px;
    line-height: 18px;

    >a{
      color: $footer-color1;
    }
  }

  &__footer-item {
    display: inline-block;
    vertical-align: top;
    width: 49.2%;
    padding: 0 5px 0 0;
    font-size: 14px;
    line-height: 18px;
  }

  &__footer-title {
    margin: 0 0 10px;
    @include main-font5();
    color: $footer-title-color;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    &_big {
      font-size: 21px;
      line-height: 24px;
    }

  }

  &__footer-menu {
    a {
      color: $footer-color;
    }
  }

  &__centered {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }

}
@media (min-width: $phone-landscape) {
  .site {

  }
}
@media (min-width: $tablet-portrait) {
  .site {

    &__footer-top {
      padding: 106px 0 0;

    }

    &__footer-bottom{
      @include flexbox();
      @include flex-direction();
      @include flex-wrap( wrap );
      @include justify-content( space-between );
      @include align-items( center );
    }

    &__footer-item {
      width: 32.9%;
      font-size: 16px;
      line-height: 20px;
    }

    &__footer-title {
      font-size: 19px;
      line-height: 22px;

      &_big {
        font-size: 22px;
        line-height: 25px;
      }
    }

  }
}
@media (min-width: $tablet-landscape) {
  .site {

  }
}
@media (min-width: $desktop) {
  .site {

  }
}

