.sort {
  position: absolute;
  top: -2px;
  right: 16px;

  label {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    margin-right: 13px;
    font-size: 18px;
    line-height: 51px;
    color: #8e8e8e;
    @include main-font3();
    @include transition(color, .3, 0);

    &:hover {
      color: #c9c9c9;
    }
  }
}

@media (min-width: $tablet-portrait) {
  .sort {

  }
}

@media (min-width: $tablet-landscape) {
  .sort {

  }
}

@media (min-width: $desktop) {
  .sort {

  }
}
