.tags {
  position: relative;

  &__icon {
    display: inline-block;
    vertical-align: top;
    position: relative;
    background: $tags-icon-back;
    height: 35px;
    border-radius: 5px;
    padding: 10px 11px 10px 13px;
    margin: 0 7px 14px 0;
    color: $tags-icon-color;
    font-size: 14px;
    line-height: 14px;
    @include main-font2();

    &:after {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: 50%;
      margin: 0 0 0 5px;
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
      transform: translateY( -50% );
    }

    &_surface {

      &:after {
        width: 23px;
        height: 23px;
        background-image: url("../img/tag-surface.png");
      }

    }

    &_chambers {

      &:after {
        width: 30px;
        height: 19px;
        background-image: url("../img/tag-chamber.png");
      }

    }

    &_shower {

      &:after {
        width: 21px;
        height: 22px;
        background-image: url("../img/tag-shower.png");
      }

    }

    &_parking {

      &:after {
        width: 16px;
        height: 20px;
        background-image: url("../img/tag-parking.png");
      }

    }

    &_peb-c {

      &:after {
        width: 20px;
        height: 20px;
        background-image: url("../img/tag-peb-c.png");
      }

    }

    &_peb-f {

      &:after {
        width: 20px;
        height: 20px;
        background-image: url("../img/tag-peb-f.png");
      }

    }

  }

}
